Repository appliedinnovation/permobil-client, pull requests merged in 2019-11, with the labels that each got.

#461 Update push detection and coast time calculation
  apps/wear/pushtracker/app/App_Resources/Android/src/main/assets/activityDetectorLSTM.tflite
  apps/wear/pushtracker/app/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/ActivityDetector.java
  apps/wear/pushtracker/app/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/ActivityService.java
  apps/wear/pushtracker/app/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/DailyActivity.java
Labels: activity-detection, enhancement, pushtracker-wear

#481 Updated bluetooth lottie
  apps/mobile/pushtracker/App_Resources/Android/src/main/assets/bluetooth_black.json
  apps/mobile/pushtracker/App_Resources/Android/src/main/assets/bluetooth_dark.json
  apps/mobile/pushtracker/App_Resources/Android/src/main/assets/bluetooth_default.json
  apps/mobile/pushtracker/App_Resources/Android/src/main/assets/bluetooth_white.json
  apps/mobile/pushtracker/App_Resources/iOS/bluetooth_black.json
  apps/mobile/pushtracker/App_Resources/iOS/bluetooth_dark.json
  apps/mobile/pushtracker/App_Resources/iOS/bluetooth_default.json
  apps/mobile/pushtracker/App_Resources/iOS/bluetooth_white.json
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.html
  apps/mobile/pushtracker/src/app/modules/shared/components/pushtracker-status-button/pushtracker-status-button.component.html
Labels: enhancement, pushtracker-mobile

#487 Empty defaults for height/weight/chair_make/chair_type on sign up
  apps/mobile/pushtracker/src/app/modules/profile-tab/profile-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/sign-up/sign-up.component.ts
Labels: enhancement, pushtracker-mobile

#508 Feature/ptm ota
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/modules/wireless-updates/wireless-updates.component.ts
  apps/mobile/pushtracker/src/app/services/smartdrive-errors.service.ts
  apps/mobile/pushtracker/src/app/services/smartdrive-usage.service.ts
Labels: enhancement, pushtracker-mobile

#533 Feature/520
  @permobil/core/src/models/pushtracker.user.model.ts
  apps/mobile/pushtracker/package.json
  apps/mobile/pushtracker/src/app/app.component.ts
  apps/mobile/pushtracker/src/app/assets/i18n/en.json
  apps/mobile/pushtracker/src/app/models/index.ts
  apps/mobile/pushtracker/src/app/models/pushtracker-user.model.ts
  apps/mobile/pushtracker/src/app/modules/activity-goal-setting/activity-goal-setting.component.ts
  apps/mobile/pushtracker/src/app/modules/activity/activity.component.ts
  apps/mobile/pushtracker/src/app/modules/configuration/configuration.component.ts
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.ts
  apps/mobile/pushtracker/src/app/modules/home-tab/home-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/journey-tab/journey-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/login/login.component.ts
  apps/mobile/pushtracker/src/app/modules/profile-settings/profile-settings.component.ts
  apps/mobile/pushtracker/src/app/modules/profile-tab/profile-tab.component.html
  apps/mobile/pushtracker/src/app/modules/profile-tab/profile-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/sign-up/sign-up.component.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/scss/profile-tab/_profile-tab-dark.scss
  apps/mobile/pushtracker/src/app/services/activity.service.ts
  apps/mobile/pushtracker/src/app/services/pushtracker.user.service.ts
  apps/mobile/pushtracker/src/app/services/smartdrive-errors.service.ts
  apps/mobile/pushtracker/src/app/services/smartdrive-usage.service.ts
Labels: backend, enhancement, performance, pushtracker-mobile, user-interface

#538 Feature/rater
  apps/mobile/pushtracker/src/app/app.component.ts
  apps/mobile/pushtracker/src/app/assets/i18n/en.json
  apps/mobile/pushtracker/src/app/modules/profile-tab/profile-tab.component.ts
  apps/mobile/pushtracker/src/app/utils/ratings-utils.ts
Labels: enhancement, pushtracker-mobile, user-feedback

#547 Sanitize date inputs from OG PT
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
Labels: bug, data collection, device-communications, pushtracker-mobile

#543 Bugfix/sonarqube
  .gitignore
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/models/smartdrive.model.ts
  apps/mobile/pushtracker/src/app/modules/activity/activity.component.ts
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.ts
  apps/mobile/pushtracker/src/app/modules/forgot-password/forgot-password.component.ts
  apps/mobile/pushtracker/src/app/modules/home-tab/home-tab.component.html
  apps/mobile/pushtracker/src/app/modules/home-tab/home-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/journey-tab/journey-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/login/login.component.ts
  apps/mobile/pushtracker/src/app/modules/profile-settings/profile-settings.component.ts
  apps/mobile/pushtracker/src/app/modules/profile-tab/profile-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/shared/components/bottom-sheets/textfield-sheet/textfield-sheet.component.ts
  apps/mobile/pushtracker/src/app/modules/shared/components/data-box/data-box.component.ts
  apps/mobile/pushtracker/src/app/modules/shared/components/e2-status-button/e2-status-button.component.html
  apps/mobile/pushtracker/src/app/modules/shared/components/max-text-box/max-text-box.component.ts
  apps/mobile/pushtracker/src/app/modules/shared/components/pushtracker-status-button/pushtracker-status-button.component.html
  apps/mobile/pushtracker/src/app/modules/shared/components/pushtracker-status-button/pushtracker-status-button.component.ts
  apps/mobile/pushtracker/src/app/modules/sign-up/sign-up.component.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/modules/wireless-updates/wireless-updates.component.ts
  apps/mobile/pushtracker/src/app/scss/components/pushtracker-status-button/_pushtracker-status-button-base.scss
  apps/mobile/pushtracker/src/app/services/bluetooth.service.ts
  apps/mobile/pushtracker/src/app/services/file.service.ts
  apps/mobile/pushtracker/src/app/services/firmware.service.ts
  apps/mobile/pushtracker/src/app/services/translation.service.ts
  apps/mobile/pushtracker/src/app/utils/status-bar-utils.ts
  apps/mobile/pushtracker/src/app/utils/themes-utils.ts
Labels: bug, enhancement, pushtracker-mobile

#549 Bugfix/548
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/services/bluetooth.service.ts
Labels: bug, device-communications, iOS, pushtracker-mobile, user-interface

#552 Bugfix/550
  apps/mobile/pushtracker/src/app/models/device-base.model.ts
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/models/smartdrive.model.ts
  apps/mobile/pushtracker/src/app/modules/profile-settings/profile-settings.component.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
Labels: bug, pushtracker-mobile, user-interface

#551 Feature/545
  apps/mobile/pushtracker/src/app/assets/i18n/en.json
Labels: bug, enhancement, pushtracker-mobile

#554 SmartDrive WatchFace
  apps/wear/smartdrive/app/App_Resources/Android/app.gradle
  apps/wear/smartdrive/app/App_Resources/Android/src/main/AndroidManifest.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/util/DateUtils.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceConfigActivity.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceLayoutActivity.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-hdpi/ic_battery_full.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-hdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-mdpi/ic_battery_full.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-mdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-nodpi/add_complication.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-nodpi/added_complication.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-nodpi/preview_watch_face.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xhdpi/ic_battery_full.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xhdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_battery_full.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xxhdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_battery_full.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xxxhdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable/black_border_background.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable/custom_complication_styles.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable/settings_watch_face_preview_arms_and_ticks.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable/settings_watch_face_preview_background.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable/settings_watch_face_preview_highlight.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/activity_config.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/watchface_layout.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values-round/strings.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/colors.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/dimens.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/ids.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/strings.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/xml/watch_face.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/resources/sentry.properties
Labels: smartdrive-wear, watchface

#564 Feature:557
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
Labels: enhancement, smartdrive-wear, user-interface, watchface

#568 Properly check loaded data in journey tab when setting today data
  apps/mobile/pushtracker/src/app/modules/journey-tab/journey-tab.component.ts
Labels: bug, pushtracker-mobile, user-interface

#565 Update settings service to use Sync datastoretype instead of auto
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/services/settings.service.ts
  apps/mobile/pushtracker/src/app/services/smartdrive-errors.service.ts
  apps/mobile/pushtracker/src/app/services/smartdrive-usage.service.ts
Labels: backend, pushtracker-mobile

#569 Feature/561
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/activity_config.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/ids.xml
Labels: watchface

#570 closes #567 ensure that min/max dates are always set for the calendar.
  apps/mobile/pushtracker/src/app/modules/activity/activity.component.ts
Labels: iOS, pushtracker-mobile

#572 Bug: 571
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/watchface_layout.xml
Labels: bug, watchface

#578 Feature: 575
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/watchface_layout.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/colors.xml
Labels: user-interface, watchface

#579 Closes 562
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/namespaces/smartdrive-data.ts
  apps/mobile/pushtracker/src/app/services/file.service.ts
  apps/mobile/pushtracker/src/app/services/firmware.service.ts
  apps/mobile/pushtracker/src/app/services/translation.service.ts
  apps/mobile/pushtracker/src/app/utils/tns-translate-loader.ts
Labels: bug, pushtracker-mobile
