Repository appliedinnovation/permobil-client, pull requests merged in 2019-12, with the labels that each got.

#584 Feature/580
  apps/mobile/pushtracker/src/app/assets/i18n/en.json
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/modules/home-tab/home-tab.component.html
  apps/mobile/pushtracker/src/app/modules/home-tab/home-tab.component.ts
  apps/mobile/pushtracker/src/app/modules/profile-settings/profile-settings.component.ts
  apps/mobile/pushtracker/src/app/modules/shared/components/pushtracker-status-button/pushtracker-status-button.component.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/services/bluetooth.service.ts
Labels: device-communications, enhancement, pushtracker-mobile, user-interface

#586 PT / SD battery display update
  apps/mobile/pushtracker/src/app/modules/shared/components/pushtracker-status-button/pushtracker-status-button.component.ts
Labels: enhancement, pushtracker-mobile, user-interface

#588 Chore: bump PT.M versions for release
  apps/mobile/pushtracker/App_Resources/Android/app.gradle
  apps/mobile/pushtracker/App_Resources/iOS/Info.plist
Labels: release

#589 Feature: 577
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-hdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-mdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-nodpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xhdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xxhdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-xxxhdpi/smartdrive_button.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/watchface_layout.xml
Labels: enhancement, user-interface, watchface

#593 fix pairing event handler
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
Labels: bug, device-communications, pushtracker-mobile

#594 Bug: 591 - Correct time display in ambient mode
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
Labels: bug, user-interface, watchface

#596 Chore: 595 - Disables HMR on release builds
  apps/mobile/pushtracker/tools/android-release.js
  apps/mobile/smart-eval/tools/android-release.js
  apps/wear/pushtracker/tools/android-release.js
  apps/wear/smartdrive/tools/android-release.js
  package.json
Labels: Chore, pushtracker-mobile, pushtracker-wear, smart-eval, smartdrive-wear

#600 Chore: 598 - Perf Opts for WatchFace
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
Labels: enhancement, performance, watchface

#604 Chore: 603 (update TS, NG, NS)
  @permobil/angular/package.json
  @permobil/core/package.json
  @permobil/nativescript/package.json
  apps/mobile/pushtracker/package.json
  apps/mobile/pushtracker/tsconfig.json
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/package.json
  package.json
  tsconfig.json
  tslint.json
Labels: Chore, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#608 Replaced this._owner.get() with owner. in onReceive
  forked-plugins/nativescript-bluetooth/android/TNS_BroadcastReceiver.ts
Labels: bug

#613 Chore: 612 - Update sentry plugin for improve android exception
  apps/mobile/pushtracker/package.json
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/package.json
  forked-plugins/nativescript-sentry-1.9.1.tgz
Labels: Chore, backend, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#614 Removed sentry breadcrumb in SD.W for timeReceiverCallback
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
Labels: backend, enhancement, smartdrive-wear

#616 Calling stopOTA handler in app suspend for SD.W #610
  apps/wear/smartdrive/app/models/smartdrive.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-page.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
Labels: bug

#618 Bugfix/617
  apps/mobile/pushtracker/src/app/modules/activity/activity.component.ts
  apps/mobile/pushtracker/src/app/scss/activity-tab/_activity-tab-default.scss
Labels: bug, iOS, pushtracker-mobile, themes, user-interface

#619 Added debounced close method to OTA page
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
Labels: enhancement

#622 cleanup sd.w main view model
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: Chore, smartdrive-wear

#626 Chore: 625
  apps/mobile/pushtracker/webpack.config.js
Labels: Chore, backend, pushtracker-mobile

#631 Feature/629
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/utils/debounce-right.ts
  apps/mobile/pushtracker/src/app/utils/index.ts
Labels: device-communications, enhancement, pushtracker-mobile, user-interface

#601 Bugfix/541
  apps/mobile/pushtracker/package.json
  apps/mobile/pushtracker/src/app/assets/i18n/da.json
  apps/mobile/pushtracker/src/app/assets/i18n/de.json
  apps/mobile/pushtracker/src/app/assets/i18n/en.json
  apps/mobile/pushtracker/src/app/assets/i18n/es.json
  apps/mobile/pushtracker/src/app/assets/i18n/fr.json
  apps/mobile/pushtracker/src/app/assets/i18n/it.json
  apps/mobile/pushtracker/src/app/assets/i18n/ja.json
  apps/mobile/pushtracker/src/app/assets/i18n/ko.json
  apps/mobile/pushtracker/src/app/assets/i18n/nb.json
  apps/mobile/pushtracker/src/app/assets/i18n/nl.json
  apps/mobile/pushtracker/src/app/assets/i18n/sv.json
  apps/mobile/pushtracker/src/app/assets/i18n/zh.json
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/services/bluetooth.service.ts
  forked-plugins/nativescript-bluetooth-1.3.1.tgz
  forked-plugins/nativescript-bluetooth/common.ts
  forked-plugins/nativescript-bluetooth/index.d.ts
  forked-plugins/nativescript-bluetooth/ios/CBCentralManagerDelegateImpl.ts
  forked-plugins/nativescript-bluetooth/ios/CBPeripheralDelegateImpl.ts
  forked-plugins/nativescript-bluetooth/ios/CBPeripheralManagerDelegateImpl.ts
  forked-plugins/nativescript-bluetooth/ios/ios_main.ts
  forked-plugins/nativescript-bluetooth/package.json
  forked-plugins/nativescript-perms-1.0.12.tgz
  forked-plugins/nativescript-perms/README.md
  forked-plugins/nativescript-perms/src/.npmignore
  forked-plugins/nativescript-perms/src/package.json
  forked-plugins/nativescript-perms/src/permissions.android.ts
  forked-plugins/nativescript-perms/src/permissions.common.ts
  forked-plugins/nativescript-perms/src/permissions.ios.ts
  forked-plugins/nativescript-perms/src/references.d.ts
  forked-plugins/nativescript-perms/src/tsconfig.json
Labels: bug, device-communications, lib-bluetooth, pushtracker-mobile, user-interface

#634 closes #633 rename section in profile-settings page.
  apps/mobile/pushtracker/src/app/assets/i18n/en.json
Labels: enhancement, pushtracker-mobile

#632 closes #630 refactor device-setup OG PT state management code.
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.html
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.ts
Labels: device-communications, enhancement, pushtracker-mobile, user-interface

#637 Bugfix/635
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.ts
Labels: bug, device-communications, iOS, pushtracker-mobile

#636 Bug: 623 - Documents folder random error writing on iOS
  apps/mobile/pushtracker/src/app/services/translation.service.ts
Labels: bug, pushtracker-mobile

#640 Feature/638
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/android/wear-os-comms.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/index.d.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/ios/wear-os-comms.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/wear-os-comms-0.1.3-rc3.tgz
  apps/mobile/pushtracker/src/app/modules/device-setup/device-setup.component.ts
Labels: device-communications, enhancement, lib-wear-os-comms, pushtracker-mobile, user-interface

#642 Fix sdk version check in bluetooth plugin
  forked-plugins/nativescript-bluetooth-1.3.1.tgz
  forked-plugins/nativescript-bluetooth/ios/CBCentralManagerDelegateImpl.ts
Labels: bug, iOS, lib-bluetooth, pushtracker-mobile

#644 closes #643 properly type callbackfunction in wear-os-comms library.
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/android/wear-os-comms.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/ios/wear-os-comms.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/wear-os-comms.common.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/wear-os-comms-0.1.3-rc3.tgz
Labels: Chore, lib-wear-os-comms, pushtracker-mobile

#651 Bugfix/649
  apps/wear/smartdrive/app/models/tap-detector.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: bug, smartdrive-wear

#657 Removed code duplication in kinvey.service
  @permobil/nativescript/package.json
  @permobil/nativescript/src/services/kinvey.service.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/pages/modals/about/about.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings-view-model.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings.ts
  apps/wear/pushtracker/app/pages/modals/profile/profile.ts
  apps/wear/pushtracker/app/pages/modals/settings/settings-view-model.ts
  apps/wear/pushtracker/app/pages/modals/settings/settings.ts
  apps/wear/pushtracker/app/services/index.ts
  apps/wear/pushtracker/app/services/kinvey.service.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/about/about.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/services/index.ts
  apps/wear/smartdrive/app/services/kinvey.service.ts
Labels: enhancement, pushtracker-wear, smartdrive-wear

#659 Bugfix/code duplication
  @permobil/nativescript/package.json
  @permobil/nativescript/src/services/kinvey.service.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/pages/modals/about/about.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings-view-model.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings.ts
  apps/wear/pushtracker/app/pages/modals/profile/profile.ts
  apps/wear/pushtracker/app/pages/modals/settings/settings-view-model.ts
  apps/wear/pushtracker/app/pages/modals/settings/settings.ts
  apps/wear/pushtracker/app/services/index.ts
  apps/wear/pushtracker/app/services/kinvey.service.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/about/about.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/services/index.ts
  apps/wear/smartdrive/app/services/kinvey.service.ts
Labels: enhancement, pushtracker-wear, smartdrive-wear

#663 Closes #662 - Changed from DEV to PROD for stable
  @permobil/nativescript/src/services/kinvey.service.ts
Labels: enhancement, pushtracker-wear, smartdrive-wear

#664 Code quality improvements
  @permobil/core/src/models/device.settings.model.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/android/wear-os-comms.ts
  @permobil/nativescript/src/utils/i18n.util.ts
  apps/mobile/smart-eval/src/services/bluetooth.service.ts
  apps/wear/pushtracker/app/models/activity-detector.ts
  apps/wear/pushtracker/app/namespaces/profile.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings-view-model.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/services/network.service.ts
  apps/wear/smartdrive/app/services/sqlite.service.ts
Labels: enhancement, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#665 Removing the 6 errors that SonarCloud is reporting on master
  @permobil/angular/src/services/keyboard.service.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/services/sqlite.service.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
Labels: pushtracker-wear, smartdrive-wear

#666 Code Improvements made to master
  @permobil/angular/src/services/keyboard.service.ts
  @permobil/core/src/models/device.settings.model.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/android/wear-os-comms.ts
  @permobil/nativescript/src/utils/i18n.util.ts
  apps/mobile/smart-eval/src/services/bluetooth.service.ts
  apps/wear/pushtracker/app/models/activity-detector.ts
  apps/wear/pushtracker/app/namespaces/profile.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings-view-model.ts
  apps/wear/pushtracker/app/services/sqlite.service.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/services/network.service.ts
  apps/wear/smartdrive/app/services/sqlite.service.ts
Labels: enhancement, pushtracker-wear, smartdrive-wear

#667 Fixes security hotspots reported by SonarCloud
  apps/wear/pushtracker/app/pages/main-page/main-page.xml
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: pushtracker-wear, smartdrive-wear

#668 Remove use of `Math.random` and debug tap handlers in wear apps
  apps/wear/pushtracker/app/pages/main-page/main-page.xml
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: enhancement, pushtracker-wear, smartdrive-wear

#687 Bugfix/686
  apps/wear/smartdrive/package.json
  apps/wear/smartdrive/webpack.config.js
Labels: smartdrive-wear

#690 closes #682 save battery to shared prefs when updated local storage o…
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: enhancement, smartdrive-wear, user-interface, watchface

#689 closes #675 ensure that the date at the selected index matches the da…
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: bug, smartdrive-wear, user-interface

#691 closes #661 if the user is null in the constructor, then try to load …
  apps/wear/smartdrive/app/services/kinvey.service.ts
Labels: enhancement, smartdrive-wear

#694 Closes #693
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/styles.xml
Labels: bug, smartdrive-wear

#695 closes #692 always load the english translation file, and use it as t…
  @permobil/nativescript/src/utils/i18n.util.ts
Labels: Translations, enhancement, language, pushtracker-wear, smartdrive-wear

#698 closes #681 tell {N} to invalidate date-time cache so that when we ge…
  apps/wear/smartdrive/app/package.json
Labels: smartdrive-wear, user-interface
