Repository appliedinnovation/permobil-client, pull requests merged in 2020-02, with the labels that each got.

#746 Remove pager from pt wear
  apps/wear/pushtracker/app/pages/main-page/main-page.xml
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
Labels: enhancement, pushtracker-wear, user-interface

#719 Remove Pager from SD Wear
  apps/wear/smartdrive/app/pages/main-page/main-page.ts
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: enhancement, smartdrive-wear, user-interface

#748 Feature/658 - Fetch language translations from Kinvey and Download Latest if needed.
  @permobil/angular/package.json
  @permobil/core/package.json
  @permobil/nativescript/package.json
  @permobil/nativescript/src/index.d.ts
  @permobil/nativescript/src/index.ts
  @permobil/nativescript/src/services/index.ts
  @permobil/nativescript/src/utils/index.ts
  @permobil/nativescript/src/utils/kinvey-keys.util.ts
  apps/mobile/pushtracker/src/app/app.component.ts
  apps/mobile/pushtracker/src/app/modules/sign-up/sign-up.component.ts
  apps/mobile/pushtracker/src/app/utils/http-utils.ts
  apps/mobile/pushtracker/src/app/utils/index.ts
  apps/mobile/pushtracker/tsconfig.json
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/scanning/scanning.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-page.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
  apps/wear/smartdrive/app/services/kinvey.service.ts
  apps/wear/smartdrive/app/utils/utils.ts
  apps/wear/wear_apps_tsconfig.json
  package.json
Labels: Translations, backend, enhancement, smartdrive-wear

#751 Bug/747: theme not applying on PT.W
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/package.json
  apps/wear/pushtracker/webpack.config.js
Labels: bug, pushtracker-wear

#752 closes #412 remove stop-motor button and only show deactivate power a…
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
Labels: enhancement, smartdrive-wear, user-interface

#754 Closes #753
  apps/wear/smartdrive/app/App_Resources/Android/app.gradle
Labels: chore, smartdrive-wear

#756 closes #755
  apps/wear/pushtracker/app/App_Resources/Android/app.gradle
Labels: chore, pushtracker-wear

#765 decrease max power assist timeout (mins) from 20 to 10.
  apps/wear/smartdrive/app/models/watch-settings.ts
Labels: enhancement, smartdrive-wear

#768 Enhancement/767
  .vscode/settings.json
  apps/wear/smartdrive/app/app.css
  apps/wear/smartdrive/app/fonts/icomoon.ttf
  apps/wear/smartdrive/app/fonts/ionicons.ttf
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
  apps/wear/smartdrive/app/pages/modals/about/about.xml
  apps/wear/smartdrive/app/pages/modals/change-settings/change-settings-page.xml
  apps/wear/smartdrive/app/pages/modals/error_history/error_history.xml
  apps/wear/smartdrive/app/pages/modals/settings/settings-page.xml
  apps/wear/smartdrive/app/scss/_change-settings-ambient.scss
  apps/wear/smartdrive/app/scss/_change-settings-default.scss
  apps/wear/smartdrive/app/scss/_common.scss
  apps/wear/smartdrive/app/scss/_power-assist-default.scss
  apps/wear/smartdrive/app/scss/_settings-list-ambient.scss
  apps/wear/smartdrive/app/scss/_settings-list-default.scss
  apps/wear/smartdrive/app/scss/_variables.scss
Labels: enhancement, smartdrive-wear

#773 Closes #769 - Custom font file for PT.W
  apps/wear/pushtracker/app/app.css
  apps/wear/pushtracker/app/fonts/icomoon.ttf
  apps/wear/pushtracker/app/fonts/ionicons.ttf
  apps/wear/pushtracker/app/pages/main-page/main-page.xml
  apps/wear/pushtracker/app/pages/modals/about/about.xml
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings.xml
  apps/wear/pushtracker/app/pages/modals/profile/profile.xml
  apps/wear/pushtracker/app/pages/modals/settings/settings.xml
  apps/wear/pushtracker/app/scss/_common.scss
  apps/wear/pushtracker/app/scss/_settings-list-ambient.scss
  apps/wear/pushtracker/app/scss/_settings-list-default.scss
  apps/wear/pushtracker/app/scss/_variables.scss
Labels: chore, pushtracker-wear

#775 Closes #774 - correct path to ns-core local module
  apps/wear/smartdrive/tsconfig.json
Labels: chore, smartdrive-wear
