Repository appliedinnovation/permobil-client, pull requests merged in 2020-08, with the labels that each got.

#828 make sure to check that it exists (is non-zero) since > 0 fails on st…
  apps/wear/pushtracker/app/pages/main-page/main-page.xml
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: bug

#827 Feat: add language setting to SD.W
  @permobil/core/src/models/device.settings.model.ts
  @permobil/nativescript/src/utils/i18n.util.ts
  apps/wear/smartdrive/app/app.ts
  apps/wear/smartdrive/app/assets/i18n/cs.json
  apps/wear/smartdrive/app/assets/i18n/da.json
  apps/wear/smartdrive/app/assets/i18n/de.json
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/assets/i18n/es.json
  apps/wear/smartdrive/app/assets/i18n/fi.json
  apps/wear/smartdrive/app/assets/i18n/fr.json
  apps/wear/smartdrive/app/assets/i18n/it.json
  apps/wear/smartdrive/app/assets/i18n/ja.json
  apps/wear/smartdrive/app/assets/i18n/ko.json
  apps/wear/smartdrive/app/assets/i18n/nb.json
  apps/wear/smartdrive/app/assets/i18n/nl.json
  apps/wear/smartdrive/app/assets/i18n/pl.json
  apps/wear/smartdrive/app/assets/i18n/pt.json
  apps/wear/smartdrive/app/assets/i18n/sv.json
  apps/wear/smartdrive/app/assets/i18n/zh.json
  apps/wear/smartdrive/app/enums/data-keys.ts
  apps/wear/smartdrive/app/models/watch-settings.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-page.xml
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
Labels: enhancement, smartdrive-wear

#830 Feat: PT.W language change
  @permobil/core/src/enums/data-keys.ts
  @permobil/core/src/index.d.ts
  @permobil/nativescript/package.json
  @permobil/nativescript/src/utils/android.util.ts
  @permobil/nativescript/src/utils/device.util.d.ts
  @permobil/nativescript/src/utils/device.util.ts
  @permobil/nativescript/src/utils/i18n.util.ts
  @permobil/nativescript/src/utils/index.ts
  apps/wear/pushtracker/app/app.ts
  apps/wear/pushtracker/app/assets/i18n/da.json
  apps/wear/pushtracker/app/assets/i18n/de.json
  apps/wear/pushtracker/app/assets/i18n/en.json
  apps/wear/pushtracker/app/assets/i18n/es.json
  apps/wear/pushtracker/app/assets/i18n/fr.json
  apps/wear/pushtracker/app/assets/i18n/it.json
  apps/wear/pushtracker/app/assets/i18n/ja.json
  apps/wear/pushtracker/app/assets/i18n/ko.json
  apps/wear/pushtracker/app/assets/i18n/nb.json
  apps/wear/pushtracker/app/assets/i18n/nl.json
  apps/wear/pushtracker/app/assets/i18n/sv.json
  apps/wear/pushtracker/app/assets/i18n/zh.json
  apps/wear/pushtracker/app/namespaces/profile.ts
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings-view-model.ts
  apps/wear/pushtracker/app/pages/modals/settings/settings.xml
  apps/wear/smartdrive/app/app.ts
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/models/watch-settings.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
Labels: enhancement, pushtracker-wear

#832 Feat: toggle time/date on SD watchface
  apps/wear/smartdrive/app/App_Resources/Android/app.gradle
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/watchface_layout.xml
Labels: enhancement, smartdrive-wear, watchface

#835 Feat: local notifications for wear apps
  .prettierrc.json
  @permobil/nativescript/package.json
  @permobil/nativescript/src/enums/index.ts
  @permobil/nativescript/src/enums/local-scheduled-notifications.ts
  @permobil/nativescript/src/utils/index.ts
  @permobil/nativescript/src/utils/local-scheduled-notifications.ts
  apps/mobile/pushtracker/src/app/modules/activity-goal-setting/activity-goal-setting.component.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: enhancement, pushtracker-wear, smartdrive-wear

#836 Feat: sd watchface config complication layout updates
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceConfigActivity.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/activity_config.xml
Labels: enhancement, smartdrive-wear, watchface
