Repository appliedinnovation/permobil-client, pull requests merged in 2020-01, with the labels that each got.

#700 Bugfix/652
  apps/wear/smartdrive/app/models/tap-detector.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/reports/SD2-SVR-015.json
  apps/wear/smartdrive/requirements.json
Labels: activity-detection, bug, controls, smartdrive-wear

#704 Feature/703
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: data collection, enhancement, file-system, smartdrive-wear

#707 closes #699 closes #705 fix order of update / draw with relative layo…
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
Labels: bug, user-interface, watchface

#706 Feature/62
  @permobil/core/src/models/device.settings.model.ts
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/models/index.ts
  apps/wear/smartdrive/app/models/watch-settings.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/change-settings/change-settings-view-model.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-page.xml
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
  apps/wear/smartdrive/app/services/settings.service.ts
Labels: device-communications, enhancement, performance, smartdrive-wear, user-interface

#710 Feature/709
  apps/wear/smartdrive/app/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/drawable-nodpi/digital_watchface_preview.png
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/activity_config.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/layout/watchface_layout.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/ids.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/res/values/strings.xml
Labels: enhancement, user-interface, watchface

#711 Bugfix/code smells
  @permobil/core/src/packet/packet.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/ios/wear-os-comms.ts
  apps/mobile/pushtracker/package.json
  apps/mobile/pushtracker/src/app/modules/activity/activity.component.ts
  apps/mobile/pushtracker/src/app/modules/wireless-updates/wireless-updates.component.ts
  apps/mobile/smart-eval/src/services/bluetooth.service.ts
  apps/wear/pushtracker/app/models/activity-detector.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/models/smartdrive.ts
  apps/wear/smartdrive/app/services/bluetooth.service.ts
  apps/wear/smartdrive/app/services/sensor.service.ts
  forked-plugins/nativescript-bluetooth/android/TNS_BluetoothGattServerCallback.ts
  forked-plugins/nativescript-bluetooth/android/android_main.ts
  forked-plugins/nativescript-bluetooth/ios/ios_main.ts
Labels: pushtracker-mobile, pushtracker-wear, smartdrive-wear

#701 Chore: 685 - CI for Mobile apps
  .github/workflows/builds.yml
  .github/workflows/sonar.yml
  .travis.yml
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/demo/app/app.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/demo/app/home/home-page.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/demo/app/home/home-view-model.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/package.json
  apps/mobile/pushtracker/package.json
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/tsconfig.json
  apps/wear/pushtracker/package.json
  apps/wear/pushtracker/tsconfig.json
  apps/wear/smartdrive/app/pages/main-page/main-page.xml
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/about/about.ts
  apps/wear/smartdrive/app/pages/modals/error_history/error_history.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-page.xml
  apps/wear/smartdrive/app/utils/sentry-utils.ts
  apps/wear/smartdrive/package.json
  apps/wear/smartdrive/tsconfig.json
  apps/wear/smartdrive/webpack.config.js
  forked-plugins/nativescript-animated-circle/package.json
  forked-plugins/nativescript-bluetooth/android/android_main.ts
  forked-plugins/nativescript-bluetooth/index.android.ts
  forked-plugins/nativescript-bluetooth/ios/ios_main.ts
  forked-plugins/nativescript-bluetooth/package.json
  forked-plugins/nativescript-bluetooth/references.d.ts
  forked-plugins/nativescript-bluetooth/tsconfig.json
  forked-plugins/nativescript-core-6.3.2-swipe-modals.tgz
  forked-plugins/nativescript-perms/src/package.json
  forked-plugins/nativescript-perms/src/permissions.android.ts
  forked-plugins/nativescript-perms/src/permissions.common.ts
  forked-plugins/nativescript-perms/src/permissions.ios.ts
  forked-plugins/nativescript-perms/src/references.d.ts
  package.json
Labels: chore, ci, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#717 closes #716 remove private sqlite deps to decrease build size and imp…
  apps/wear/pushtracker/app/services/sqlite.service.ts
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/app/services/sqlite.service.ts
  apps/wear/smartdrive/package.json
Labels: chore, performance, pushtracker-wear, smartdrive-wear

#721 update setup script to setup @permobil before mobile and wear
  package.json
Labels: chore

#722 webpack should ignore any references to nativescript-sqlite-commercia…
  apps/wear/pushtracker/webpack.config.js
  apps/wear/smartdrive/webpack.config.js
Labels: chore

#726 closes #725 reduce delay from 5 seconds to 0 seconds - schedule it on…
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: device-communications, enhancement, smartdrive-wear, user-interface

#724 closes #723 update nativescript core plugin to check `_cancelable` fl…
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
  forked-plugins/nativescript-core-6.3.2-swipe-modals.tgz
Labels: enhancement, smartdrive-wear, user-interface

#728 closes #727 sd.w uses already_uptodate state and adds english text fo…
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/models/smartdrive.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/scss/_updates-ambient.scss
  apps/wear/smartdrive/app/scss/_updates-default.scss
Labels: enhancement, smartdrive-wear, user-interface, wireless-updates

#730 closes #729 only start power assist timer on connection if power assi…
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: enhancement, smartdrive-wear, user-interface, wireless-updates

#718 closes #684
  .github/workflows/builds.yml
  package.json
Labels: ci

#731 Closes #714 (SD.W webpack issue)
  @permobil/nativescript/package.json
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/ios/wear-os-comms.ts
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/package.json
  @permobil/nativescript/src/plugins/nativescript-wear-os-comms/src/references.d.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/pages/modals/about/about.ts
  apps/wear/pushtracker/app/pages/modals/profile/profile.ts
  apps/wear/pushtracker/app/pages/modals/settings/settings-view-model.ts
  apps/wear/pushtracker/app/scss/_main-ambient.scss
  apps/wear/pushtracker/app/scss/_main-default.scss
  apps/wear/pushtracker/package.json
  apps/wear/pushtracker/references.d.ts
  apps/wear/pushtracker/tsconfig.json
  apps/wear/pushtracker/webpack.config.js
  apps/wear/smartdrive/app/typings/androidx-wear-1.0.0.d.ts
  apps/wear/smartdrive/app/typings/wear.d.ts
  apps/wear/smartdrive/app/typings/wearable-support.2.4.0.d.ts
  apps/wear/smartdrive/package.json
  apps/wear/smartdrive/references.d.ts
  apps/wear/smartdrive/tsconfig.json
  apps/wear/typings/androidx-wear-1.0.0.d.ts
  apps/wear/typings/wear.d.ts
  apps/wear/typings/wearable-support.2.4.0.d.ts
  apps/wear/wear_apps_tsconfig.json
  forked-plugins/nativescript-auto-fit-text-1.0.1.tgz
  forked-plugins/nativescript-bluetooth/references.d.ts
Labels: bug, ci, smartdrive-wear

#734 Closes #732
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
Labels: bug, pushtracker-wear

#735 WIP #609
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: data collection, smartdrive-wear, wireless-updates
