Repository appliedinnovation/permobil-client, pull requests merged in 2020-10, with the labels that each got.

#845 closes #844 update packet bindings to have motor chip fault error cod…
  @permobil/core/src/packet/README.md
  @permobil/core/src/packet/packet.cpp
  @permobil/core/src/packet/packet_bindings.js
  apps/wear/smartdrive/app/assets/i18n/en.json
Labels: enhancement, smartdrive-wear

#847 Feature/pt wear complication tap opens app
  apps/wear/pushtracker/app/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/ComplicationToggleReceiver.java
  apps/wear/pushtracker/app/pages/modals/change-settings/change-settings-view-model.ts
Labels: elements, enhancement, pushtracker-wear, user-interface

#853 Bug (PT.W) add @nativeclass to main-activity classes
  apps/wear/pushtracker/app/main-activity.ts
Labels: bug, pushtracker-wear

#854 chore: update plugin deps
  apps/mobile/pushtracker/package.json
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/package.json
Labels: chore, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#855 Chore: cleanup leftover from migration
  @permobil/nativescript/src/utils/android.util.ts
  @permobil/nativescript/src/utils/i18n.util.ts
  apps/mobile/pushtracker/nativescript.config.ts
  apps/mobile/pushtracker/src/app/models/pushtracker.model.ts
  apps/mobile/pushtracker/src/app/models/smartdrive.model.ts
  apps/mobile/pushtracker/src/app/modules/tabs/tabs.component.ts
  apps/mobile/pushtracker/src/app/utils/ratings-utils.ts
  package.json
Labels: chore, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#857 Bugfix/817 error page blank
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/pages/modals/error_history/error_history.ts
  apps/wear/smartdrive/app/pages/modals/error_history/error_history.xml
Labels: bug, smartdrive-wear, user-interface

#858 updated language for change-settings dialog when changing language an…
  apps/wear/smartdrive/app/assets/i18n/cs.json
  apps/wear/smartdrive/app/assets/i18n/da.json
  apps/wear/smartdrive/app/assets/i18n/de.json
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/assets/i18n/es.json
  apps/wear/smartdrive/app/assets/i18n/fi.json
  apps/wear/smartdrive/app/assets/i18n/fr.json
  apps/wear/smartdrive/app/assets/i18n/it.json
  apps/wear/smartdrive/app/assets/i18n/ja.json
  apps/wear/smartdrive/app/assets/i18n/ko.json
  apps/wear/smartdrive/app/assets/i18n/nb.json
  apps/wear/smartdrive/app/assets/i18n/nl.json
  apps/wear/smartdrive/app/assets/i18n/pl.json
  apps/wear/smartdrive/app/assets/i18n/pt.json
  apps/wear/smartdrive/app/assets/i18n/sv.json
  apps/wear/smartdrive/app/assets/i18n/zh.json
Labels: Translations

#859 closes #742
  apps/mobile/pushtracker/tools/android-release.js
  apps/mobile/smart-eval/tools/android-release.js
  apps/wear/pushtracker/tools/android-release.js
  apps/wear/smartdrive/tools/android-release.js
  package.json
Labels: chore

#863 feat: base of notification for recurring and intervals
  @permobil/nativescript/package.json
  @permobil/nativescript/src/enums/index.ts
  @permobil/nativescript/src/index.d.ts
  @permobil/nativescript/src/index.ts
  @permobil/nativescript/src/utils/index.ts
  @permobil/nativescript/src/utils/local-scheduled-notifications.ts
  apps/wear/pushtracker/app/enums/index.ts
  apps/wear/pushtracker/app/enums/notification-keys.ts
  apps/wear/pushtracker/app/pages/main-page/main-view-model.ts
  apps/wear/pushtracker/app/utils/notifications.ts
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/app/enums/index.ts
  apps/wear/smartdrive/app/enums/notification-keys.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/utils/index.ts
  apps/wear/smartdrive/app/utils/notifications.ts
  apps/wear/smartdrive/package.json
Labels: enhancement, pushtracker-wear, smartdrive-wear

#861 Feature/337 prompt user to connect sd on setting change
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-page.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-page.xml
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
Labels: enhancement, smartdrive-wear

#862 Feature/779 remove date fns
  apps/wear/smartdrive/app/namespaces/smartdrive-data.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/error_history/error_history.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/utils/date-utils.ts
  apps/wear/smartdrive/package.json
Labels: smartdrive-wear

#869 fix: remove console logs from bluetooth source
  apps/mobile/pushtracker/package.json
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/package.json
  forked-plugins/nativescript-bluetooth-2.0.1.tgz
  forked-plugins/nativescript-bluetooth/android/TNS_AdvertiseCallback.ts
  forked-plugins/nativescript-bluetooth/android/TNS_BluetoothGattCallback.ts
  forked-plugins/nativescript-bluetooth/android/TNS_BluetoothGattServerCallback.ts
  forked-plugins/nativescript-bluetooth/android/TNS_BroadcastReceiver.ts
  forked-plugins/nativescript-bluetooth/android/TNS_LeScanCallback.ts
  forked-plugins/nativescript-bluetooth/android/TNS_ScanCallback.ts
  forked-plugins/nativescript-bluetooth/android/android_main.ts
  forked-plugins/nativescript-bluetooth/index.ios.ts
  forked-plugins/nativescript-bluetooth/package.json
Labels: bug, lib-bluetooth, pushtracker-mobile, pushtracker-wear, smartdrive-wear

#865 Feature/sd record notifications
  @permobil/nativescript/src/utils/i18n.util.ts
  apps/wear/smartdrive/app/enums/data-keys.ts
  apps/wear/smartdrive/app/enums/notification-keys.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/services/sqlite.service.ts
  apps/wear/smartdrive/app/utils/notifications.ts
Labels: smartdrive-wear

#872 feat: cancel handler for SC notifications
  apps/wear/smartdrive/app/utils/notifications.ts
Labels: enhancement

#873 feat: add SD.W notification images
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_light_bulb_black.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_light_bulb_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_light_bulb_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_sd_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_sd_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_light_bulb_black.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_light_bulb_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_light_bulb_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_sd_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_sd_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_light_bulb_black.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_light_bulb_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_light_bulb_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_sd_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_sd_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_light_bulb_black.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_light_bulb_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_light_bulb_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_sd_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_sd_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_light_bulb_black.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_light_bulb_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_light_bulb_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_sd_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_sd_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_light_bulb_black.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_light_bulb_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_light_bulb_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_sd_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_sd_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_blue.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_white.png
Labels: enhancement

#871 Feature/pt wear record notifications
  apps/wear/pushtracker/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/ActivityService.java
  apps/wear/pushtracker/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/Datastore.java
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-da/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-de/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-en/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-es/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-fr/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-it/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-ja/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-ko/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-nb/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-nl/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-sv/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-zh/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values/strings.xml
Labels: enhancement, pushtracker-wear

#874 fix: use compressed images for PT.W
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-hdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-ldpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-mdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xhdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_wrench_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_trophy_white.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_black.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_blue.png
  apps/wear/pushtracker/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_wrench_white.png
Labels: enhancement, pushtracker-wear

#875 Fix notification style for PT.W
  apps/wear/pushtracker/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/ActivityService.java
  apps/wear/pushtracker/app/utils/notifications.ts
Labels: pushtracker-wear

#837 Feat: Firmware Check
  .gitignore
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/services/kinvey.service.ts
  apps/wear/smartdrive/app/utils/index.ts
  apps/wear/smartdrive/app/utils/sentry-utils.ts
  apps/wear/smartdrive/app/utils/smartdrive-utils.ts
Labels: enhancement, smartdrive-wear

#877 feat: SD.W notification icons per doc
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/ic_pushtracker.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/smartdrive_material_white_45.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-hdpi/switchcontrol_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/smartdrive_material_white_45.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-ldpi/switchcontrol_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/ic_pushtracker.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/smartdrive_material_white_45.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-mdpi/switchcontrol_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/ic_pushtracker.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/smartdrive_material_white_45.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xhdpi/switchcontrol_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/ic_pushtracker.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/smartdrive_material_white_45.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxhdpi/switchcontrol_white.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/ic_pushtracker.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/smartdrive_material_white_45.png
  apps/wear/smartdrive/App_Resources/Android/src/main/res/drawable-xxxhdpi/switchcontrol_white.png
  apps/wear/smartdrive/app/utils/notifications.ts
Labels: enhancement, smartdrive-wear

#879 closes #878 only check / notify the coast time record if it is at lea…
  apps/wear/pushtracker/App_Resources/Android/src/main/java/com/permobil/pushtracker/wearos/ActivityService.java
Labels: enhancement, pushtracker-wear

#882 Finalize language for update to SD.W and PT.W
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-cs/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-da/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-de/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-en/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-es/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-fi/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-fr/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-it/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-ja/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-ko/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-nb/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-nl/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-pl/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-pt/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-sv/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values-zh/strings.xml
  apps/wear/pushtracker/App_Resources/Android/src/main/res/values/strings.xml
  apps/wear/pushtracker/app/assets/i18n/cs.json
  apps/wear/pushtracker/app/assets/i18n/da.json
  apps/wear/pushtracker/app/assets/i18n/de.json
  apps/wear/pushtracker/app/assets/i18n/en.json
  apps/wear/pushtracker/app/assets/i18n/es.json
  apps/wear/pushtracker/app/assets/i18n/fi.json
  apps/wear/pushtracker/app/assets/i18n/fr.json
  apps/wear/pushtracker/app/assets/i18n/it.json
  apps/wear/pushtracker/app/assets/i18n/ja.json
  apps/wear/pushtracker/app/assets/i18n/ko.json
  apps/wear/pushtracker/app/assets/i18n/nb.json
  apps/wear/pushtracker/app/assets/i18n/nl.json
  apps/wear/pushtracker/app/assets/i18n/pl.json
  apps/wear/pushtracker/app/assets/i18n/pt.json
  apps/wear/pushtracker/app/assets/i18n/sv.json
  apps/wear/pushtracker/app/assets/i18n/zh.json
  apps/wear/pushtracker/tools/PushTracker (WearOS) - [all] MASTER.babel
  apps/wear/smartdrive/app/assets/i18n/cs.json
  apps/wear/smartdrive/app/assets/i18n/da.json
  apps/wear/smartdrive/app/assets/i18n/de.json
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/assets/i18n/es.json
  apps/wear/smartdrive/app/assets/i18n/fi.json
  apps/wear/smartdrive/app/assets/i18n/fr.json
  apps/wear/smartdrive/app/assets/i18n/it.json
  apps/wear/smartdrive/app/assets/i18n/ja.json
  apps/wear/smartdrive/app/assets/i18n/ko.json
  apps/wear/smartdrive/app/assets/i18n/nb.json
  apps/wear/smartdrive/app/assets/i18n/nl.json
  apps/wear/smartdrive/app/assets/i18n/pl.json
  apps/wear/smartdrive/app/assets/i18n/pt.json
  apps/wear/smartdrive/app/assets/i18n/sv.json
  apps/wear/smartdrive/app/assets/i18n/zh.json
Labels: Translations, pushtracker-wear, smartdrive-wear

#884 feat: (PT.W & SD.W) bump version codes for 1.0.02 release
  apps/wear/pushtracker/App_Resources/Android/app.gradle
  apps/wear/smartdrive/App_Resources/Android/app.gradle
Labels: enhancement, pushtracker-wear, release, smartdrive-wear

#889 fix: (SD MX2+ Watchface) move sharedPreferences to only usage call
  apps/wear/smartdrive/App_Resources/Android/src/main/java/com/permobil/smartdrive/wearos/watchface/digital/DigitalWatchFaceService.java
Labels: android, bug, smartdrive-wear, watchface

#891 Minor cleanup around permissions requests for power assist
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: device-communications, enhancement, smartdrive-wear

#892 fix:(PT.M) Color constructor crashing on Android
  apps/mobile/pushtracker/package.json
  apps/mobile/pushtracker/src/app/namespaces/smartdrive-data.ts
  apps/mobile/pushtracker/webpack.config.js
  package.json
Labels: bug, pushtracker-mobile

#894 fix: (PT.M) updates animated-circle dep
  apps/mobile/pushtracker/package.json
  apps/wear/pushtracker/package.json
  apps/wear/smartdrive/package.json
Labels: bug, pushtracker-mobile, pushtracker-wear, smartdrive-wear
