Repository appliedinnovation/permobil-client, pull requests merged in 2020-03, with the labels that each got.

#776 Chore/772 - removing download-progress dep
  apps/wear/smartdrive/app/namespaces/smartdrive-data.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-page.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-page.xml
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/package.json
Labels: chore, smartdrive-wear

#778 Closes #777 - fix SD.W release script
  apps/wear/smartdrive/tools/android-release.js
  package.json
Labels: bug, smartdrive-wear

#782 Closes #781 - direct boot aware for watchface
  apps/wear/smartdrive/app/App_Resources/Android/src/main/AndroidManifest.xml
Labels: enhancement, smartdrive-wear

#780 Closes #758
  forked-plugins/nativescript-core-6.4.1/ui/core/view/view.android.ts
Labels: enhancement, smartdrive-wear

#720 Update translations / language in SD.W
  apps/wear/smartdrive/app/assets/i18n/cs.json
  apps/wear/smartdrive/app/assets/i18n/da.json
  apps/wear/smartdrive/app/assets/i18n/de.json
  apps/wear/smartdrive/app/assets/i18n/en.json
  apps/wear/smartdrive/app/assets/i18n/es.json
  apps/wear/smartdrive/app/assets/i18n/fi.json
  apps/wear/smartdrive/app/assets/i18n/fr.json
  apps/wear/smartdrive/app/assets/i18n/it.json
  apps/wear/smartdrive/app/assets/i18n/ja.json
  apps/wear/smartdrive/app/assets/i18n/ko.json
  apps/wear/smartdrive/app/assets/i18n/nb.json
  apps/wear/smartdrive/app/assets/i18n/nl.json
  apps/wear/smartdrive/app/assets/i18n/pl.json
  apps/wear/smartdrive/app/assets/i18n/pt.json
  apps/wear/smartdrive/app/assets/i18n/sv.json
  apps/wear/smartdrive/app/assets/i18n/zh.json
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/tools/SmartDrive MX2+ (Wear OS app) - [all] MASTER.babel
Labels: Translations, enhancement, language, smartdrive-wear

#792 closes #750
  @permobil/nativescript/src/utils/kinvey-keys.util.ts
Labels: chore, pushtracker-wear, smartdrive-wear

#797 Closes #793
  @permobil/nativescript/src/services/kinvey.service.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
Labels: enhancement, smartdrive-wear

#799 closes #798
  apps/wear/smartdrive/app/App_Resources/Android/app.gradle
Labels: release, smartdrive-wear

#800 Fix for 1.0.01 http bug in release
  @permobil/nativescript/src/services/kinvey.service.ts
  apps/wear/smartdrive/app/App_Resources/Android/app.gradle
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
Labels: release, smartdrive-wear

#803 closes #801
  apps/wear/smartdrive/app/app.ts
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
  apps/wear/smartdrive/app/pages/modals/settings/settings-view-model.ts
  apps/wear/smartdrive/app/pages/modals/updates/updates-view-model.ts
  apps/wear/smartdrive/app/services/kinvey.service.ts
Labels: enhancement, smartdrive-wear

#805 closes #804
  apps/wear/smartdrive/app/App_Resources/Android/src/main/AndroidManifest.xml
  apps/wear/smartdrive/app/App_Resources/Android/src/main/resources/sentry.properties
  apps/wear/smartdrive/app/main-activity.ts
Labels: bug, smartdrive-wear

#808 Closes #807
  apps/wear/smartdrive/app/pages/main-page/main-view-model.ts
Labels: bug, smartdrive-wear

#812 Closes #811
  apps/wear/smartdrive/app/App_Resources/Android/app.gradle
Labels: chore, release, smartdrive-wear
